/* Style sheet for first portfolio - July 2024 */

body {
  background-color: rgb(9, 84, 87);
  font-family: "Montserrat", sans-serif;
}

hr {
  border: solid rgb(39, 11, 32);
}

div > iframe {
  border-radius: 3%;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 1%;
}

.hero {
  border: solid blue 5px;
  border-radius: 15px;
  padding-top: 25px;
  margin: 20px;
  
}

.gradient-background {
  background: linear-gradient(296deg,#349651,#5395c5,#5395c5,#349651);
  background-size: 240% 240%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero img {
  height: 250px;
  width: 325px;
  border: solid beige 5px;
  border-radius: 25px;
  margin: 20px;
}

.resume {
  background-color: rgb(23, 182, 84);
  border-radius: 15px;
  border: solid blue 5px;
  padding: 25px;
  margin: 20px;
}

#contact-section {
  background-color: rgb(114, 211, 16);
  padding: 10px;
  margin: 20px;
  border: solid blue 5px;
  border-radius: 15px;
}

.contact-box {
  border: solid rgb(27, 57, 190);
  padding: 15px;
  background-color: rgb(32, 182, 95);
  width: 30%;
  border-radius: 15px;
  margin-top: 5px;
  align-items: center;
  text-align: left;
  max-width: 250px;
}

.contact-map > iframe {
  width: 85%;
  height: 95%;
  max-width: 600px;
  max-height: 450px;
  border: solid darkgreen;
}

.footer {
  border: solid black 5px;
  margin: 15px;
  text-align: center;
}

.footer div {
  font-weight: bolder;
  background-color: rgb(233, 84, 84);
}